@{
    ViewBag.Title = "iSHOP :: Tables";
}
@*@Styles.Render("~/Content/Tables/Tables.css?" + @iSHOPNew.DAL.GlobalVariables.GetRandomNumber + "")
@Scripts.Render("~/Scripts/Tables/RetailerDeepDive.js?" + @iSHOPNew.DAL.GlobalVariables.GetRandomNumber + "")
@Scripts.Render("~/Scripts/Tables/Table-Common.js?" + @iSHOPNew.DAL.GlobalVariables.GetRandomNumber + "")*@

@System.Web.Optimization.Styles.Render("~/bundle/styles/table")
@System.Web.Optimization.Scripts.Render("~/bundle/scripts/table-retailer_deep_dive")

<input type="hidden" id="hdn-page" name="hdn-tbl-RetailerDeepDive" />
@*Tabs Block*@
<div class="advance-filters" style="height: 47px;background-color: transparent;display:none;">
    @*PIT Tabs*@
    <div id="pit-tabs-block" class="adv-fltr-top" style="height: 68%;display:none;">
        <div class="adv-fltr demo">
            <div class="adv-fltr-option">
                <div class="adv-fltr-label width-1" data-val="DEMOGRAPHIC PROFILING">
                    <span tabindex="1" visit-id-mapping="true" guest-id-mapping="true" visit-spname="usp_WithinRetailerTrip" guest-spname="usp_WithinRetailerShopper" visit-samplesize-spname="sp_FactBookTripSampleSizeWithin" guest-samplesize-spname="sp_FactBookRespSampleSizeWithin">DEMOGRAPHICS</span>
                </div>
            </div>
        </div>
        <div id="adv-fltr visitsId" class="adv-fltr visits">
            <div class ="filtercenterallign">
            <div class="adv-fltr-label width-5" data-val="PRE-VISITS">
                <span tabindex="2" id-mapping="true" spname="usp_WithinRetailerTrip" samplesize-spname="sp_FactBookTripSampleSizeWithin">PRE SHOP</span>
            </div>
            <div class="adv-fltr-label width-5" data-val="IN-VISITS">
                <span tabindex="3" id-mapping="true" spname="usp_WithinRetailerTrip" samplesize-spname="sp_FactBookTripSampleSizeWithin">IN STORE</span>
            </div>
            <div class="adv-fltr-label width-5" data-val="BEVERAGE DETAILS1">
                <span tabindex="5" id-mapping="true" spname="usp_WithinRetailerTrip" samplesize-spname="sp_FactBookTripSampleSizeWithin">IN STORE - BEVERAGE DETAIL</span>
            </div>
            <div class="adv-fltr-label width-5" data-val="POST-VISITS">
                <span tabindex="4" id-mapping="true" spname="usp_WithinRetailerTrip" samplesize-spname="sp_FactBookTripSampleSizeWithin">POST SHOP/TRIP SUMMARY</span>
            </div>
            </div>
        </div>
        <div class="adv-fltr guests">
            <div class="adv-fltr-option guesttabs">       
                <div class="adv-fltr-label width-3" data-val="ONLINE METRICS">
                    <span tabindex="4" id-mapping="true" spname="usp_WithinRetailerShopper" samplesize-spname="sp_FactBookRespSampleSizeWithin">ONLINE METRICS</span>
                </div>        
                <div class="adv-fltr-label width-3" data-val="ESTABLISHMENT IMAGERY">
                    <span tabindex="2" id-mapping="true" spname="usp_WithinRetailerShopper" samplesize-spname="sp_FactBookRespSampleSizeWithin">STORE FREQUENCY/IMAGERY</span>
                </div>
                <div class="adv-fltr-label width-3" data-val="BEVERAGE DETAILS">
                    <span tabindex="3" id-mapping="true" spname="usp_WithinRetailerShopper" samplesize-spname="sp_FactBookRespSampleSizeWithin">BEVERAGE PURCHASER</span>
                </div>
            </div>
        </div>
    </div>
    @*End*@
    @*Trend Tabs*@
    <div id="trend-tabs-block" class="adv-fltr-top" style="height: 68%;display:none;">
        <div class="adv-fltr demo">
            <div class="adv-fltr-option">
                <div class="adv-fltr-label width-1" data-val="DEMOGRAPHIC PROFILING">
                    <span tabindex="1" visit-id-mapping="true" guest-id-mapping="true" visit-spname="usp_TrendRetailerTrip" guest-spname="usp_TrendRetailerShopper" visit-samplesize-spname="sp_FactBookTripOverTimePeriodSampleSize" guest-samplesize-spname="sp_FactBookRespGenOverTimePeriodSampleSize">DEMOGRAPHICS</span>
                </div>
            </div>
        </div>
        <div id="adv-fltr visitsTrendId" class="adv-fltr visits">
            <div class ="filtercenterallign">
            <div class="adv-fltr-label width-5" data-val="PRE-VISITS">
                <span tabindex="2" id-mapping="true" spname="usp_TrendRetailerTrip" samplesize-spname="sp_FactBookTripOverTimePeriodSampleSize">PRE SHOP</span>
            </div>
            <div class="adv-fltr-label width-5" data-val="IN-VISITS">
                <span tabindex="3" id-mapping="true" spname="usp_TrendRetailerTrip" samplesize-spname="sp_FactBookTripOverTimePeriodSampleSize">IN STORE</span>
            </div>
            <div class="adv-fltr-label width-5" data-val="BEVERAGE DETAILS">
                <span tabindex="5" id-mapping="true" spname="usp_TrendRetailerTrip" samplesize-spname="sp_FactBookTripOverTimePeriodSampleSize">IN STORE - BEVERAGE DETAIL</span>
            </div>
            <div class="adv-fltr-label width-5" data-val="POST-VISITS">
                <span tabindex="4" id-mapping="true" spname="usp_TrendRetailerTrip" samplesize-spname="sp_FactBookTripOverTimePeriodSampleSize">POST SHOP/TRIP SUMMARY</span>
            </div>
            </div>
        </div>
        <div class="adv-fltr guests">
            <div class="adv-fltr-option guesttabs">  
                <div class="adv-fltr-label width-3" data-val="ONLINE METRICS">
                    <span tabindex="4" id-mapping="true" spname="usp_TrendRetailerShopper" samplesize-spname="sp_FactBookRespGenOverTimePeriodSampleSize">ONLINE METRICS</span>
                </div>
                <div class="adv-fltr-label width-3" data-val="ESTABLISHMENT IMAGERY">
                    <span tabindex="2" id-mapping="true" spname="usp_TrendRetailerShopper" samplesize-spname="sp_FactBookRespGenOverTimePeriodSampleSize">STORE FREQUENCY/IMAGERY</span>
                </div>
                <div class="adv-fltr-label width-3" data-val="BEVERAGE DETAILS">
                    <span tabindex="3" id-mapping="true" spname="usp_TrendRetailerShopper" samplesize-spname="sp_FactBookRespGenOverTimePeriodSampleSize">BEVERAGE PURCHASER</span>
                </div>
            </div>
        </div>
    </div>
    @*End*@
</div>
@*End*@
@*Right Filter Block*@
@Html.Partial("_RightPanelFilter")
@*End*@
<div id="guestFrqncy" style="display:none;" class="tbl-dta-rows"><div class="tbl-dta-freq"><div class="tbl-data-freqbdr"></div><div class="tbl-data-freqtxt">VISITS FREQUENCY</div></div></div>
<div class="tbl-emptyrow"></div>
<div id="Table-Content"></div>